.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #666;
}

.homepage .footer {
  bottom: 0;
}

.footer .text {
  color: #dedede;
}

@media (max-width: 768px) {
  .homepage .footer {
    bottom: auto;
  }
  .contactpage,
  .aboutpage {
    bottom: 0;
  }
  .footer {
    text-align: center;
  }
}
